.page_title {
    margin: 3rem 1rem 0 auto;
    width: fit-content;
    color: black;
}

.dex_header_white_space {
    height: 80px;
}

.dex_header {
    width: 100%;
    max-width: var(--max-mobile-width);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.dex_header_left {
    height: 80px;
    margin-right: -20px;
}

.dex_header::after {
    height: 39px;
    content: '';
    background-color: var(--pokedex-red);
    width: 100%;
    border-top: solid #1a1a1aff 3px;
    border-bottom: solid #1a1a1aff 3px;
    border-right: solid #1a1a1aff 3px;
    margin-top: 0;
}
