.mobile_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: black;
}

.app {
    width: 100%;
    height: 100%;
    max-width: var(--max-mobile-width);
    margin: auto;
    background-color: white;
}
