
* {
    box-sizing: border-box;
}

:root {
    --max-mobile-width: 1080px;
    
    --pokedex-red: #DC0A2D;
    --pokedex-light-blue: #00ffff;
    
    --bug: #C3D21F;
    --electric: #FEE844;
    --fire: #FA5442;
    --grass: #86D04C;
    --normal: #B8B7A9;
    --rock: #CEBD72;
    --dark: #8D6855;
    --fairy: #F9ADFF;
    --flying: #79A3FF;
    --ground: #F0CF5C;
    --poison: #AA5DA1;
    --steel: #C4C2D9;
    --dragon: #8975FF;
    --fighting: #A75545;
    --ghost: #7975D7;
    --ice: #96F1FF;
    --psychic: #FA64B5;
    --water: #56B0FF;
    
    /*TODO: remove some of these defaults*/
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* ==================================*/
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
