.loading_page {
    background-color: var(#DC0A2D);
    width: 100vw;
    height: 100vh;
    display: flex;
}

/* TODO: Add the extra buttons and speaker */
.dex_display_frame {
    background-color: #D9E0DA;
    border: solid black 2px;
    display: flex;
    margin: auto;
    
    /* TODO: This needs to be tweaked for multiple display sizes */
    max-width: 300px;
    max-height: 300px;
    
    width: 70%;
    height: 30%;
}

.dex_display_screen {
    background-color: #232323;
    border: solid black 2px;
    display: flex;
    margin: auto;
    width: 70%;
    height: 70%;
}

.dex_display_screen p {
    color: white;
    margin: auto;
}
