.settings_menu {
    width: 100%;
    background-color: var(--pokedex-background);
    display: grid;
    padding: 1rem 2rem 1rem 2rem;
    margin: 0 auto 68px auto;
    gap: 1rem;
}

/* TODO: Make a button component... */
.settings_menu button {
    height: 100px;
}

