.con_warn {
    background-color: rgb(251, 232, 21);
    color: black;
    height: 90px;

    bottom: -70px;
    width: 100%;
    position: fixed;
}

.con_warn p:first-child {
    background-color: rgb(251, 166, 8);
    font-size: large;
    font-weight: bolder;
    margin: 0;
}

.con_warn p:nth-child(2) {
    margin: 0;
}

.con_warn * {
    padding: .25rem;
}
