.contents {
    background-color: var(--pokedex-background);
    display: grid;
    padding: 1rem 1rem calc(70px + 1rem) 1rem;
    gap: 1rem;
}

.tile {
    max-width: 250px;
    width: 100%;
    height: 100px;
    display: flex;
    margin: 0 auto;
    border: solid #008080 3px;
    background-color: var(--pokedex-light-blue);
    color: #008080;
    text-decoration: none;
}

.tile p {
    margin: auto;
    text-transform: capitalize;
}

@media only screen and (min-width: 430px) {
    .contents {
        grid-template-columns: 1fr 1fr;
    }
}
