.title {
    margin: 3rem 1rem 0 auto;
    width: fit-content;
}

.tall_grass {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
}

.regions {
    height: 100%;
    width: 100%;
    display: grid;
    padding: 1rem 2rem 1rem 2rem;
    margin: 0 auto 68px auto;
    gap: 1rem;
}

.region {
    max-width: 250px;
    width: 100%;
    height: 100px;
    transform: skew(-20deg);
    background: rgb(93, 93, 252);
    display: flex;
    margin: 0 auto;
}

.region p {
    transform: skew(20deg);
    margin: auto;
}

@media only screen and (min-width: 430px) {
    .regions {
        grid-template-columns: 1fr 1fr;
    }
}
