.regions {
    height: 100%;
    /* width: 100%; */
    display: grid;
    padding: 1rem 1rem calc(70px + 1rem) 1rem;
    /* margin: 0 auto 68px auto; */
    gap: 1rem;
}

.region {
    max-width: 250px;
    width: 100%;
    height: 100px;
    transform: skew(-20deg);
    background: rgb(93, 93, 252);
    display: flex;
    margin: 0 auto;
}

.region p {
    transform: skew(20deg);
    margin: auto;
}

@media only screen and (min-width: 430px) {
    .regions {
        grid-template-columns: 1fr 1fr;
    }
}
