.pokedex_preview {
    border: solid black 3px;
    font-weight: bolder;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 160px;
    width: 160px;
    color: black;
    text-decoration: none;
}

.preview_name {
    margin: 0 auto;
    text-decoration: none;
}

.pokedex_preview img {
    height: 100px;
    margin-bottom: auto;
}

.not_registered {
    border: solid #008080 3px;
    background-color: var(--pokedex-light-blue);
    color: #008080;
}

.not_registered img {
    filter: contrast(0%) brightness(50%);
}