.register_button {
    margin: auto 5px 0 0;
    height: 30px;
}

.entry_display {
    margin: auto;
    color: black;
    height: 100%;
    margin-top: 80px;
}

/* .top_bar {
    display: flex;
    justify-content: space-between;
    background-color: var(--pokedex-light-blue);
    padding: 1rem;
    width: 100%;
} */

/* .back {
    color: black;
    position: relative;
    background-color: var(--pokedex-light-blue);
} */

.back img {
    height: 30px;
}

.not_registered {
    filter: contrast(0%) brightness(50%)
}
