/* TODO: Use a button component */
.register_button {
    margin: auto 5px 0 0;
    height: 30px;
}

.entry_display {
    margin: auto;
    background-color: var(--pokedex-background);
    height: 100%;
}

.dex_no {
    grid-area: dex_no;
    text-align: right;
    margin: 1.2rem 1rem 0 0;
    font-size: larger;
}

.dex_img {
    grid-area: dex_img;
    margin: auto;
    display: flex;
}

.dex_img img {
    width: 160px;
}

.dex_name {
    grid-area: dex_name;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    margin: auto 1rem;
}

.dex_description {
    grid-area: dex_desc;
    margin-top: 0;
    text-align: center;
}

.banner {
    /* margin-top: 55px; */
    padding-top: 30px;
    display: grid;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        ". . dex_no"
        "dex_img dex_img dex_img"
        ". dex_name ."
        "dex_desc dex_desc dex_desc";
}

.not_registered {
    filter: contrast(0%) brightness(50%) invert();
}

.types {
    justify-content: center;
    display: flex;
    gap: 1rem;
}

.types p {
    padding: .25rem .5rem;
    border-radius: 17px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.61);
    box-shadow: 0px 0px 4px 3px #000000;
    border: 3px solid white;
    color: white;
}

.dex_details {
    display: flex;
    justify-content: space-around;
    max-width: 400px;
    margin: 0 auto;
}

.dex_details_group {
    text-align: center;
}

.dex_details_group p:first-child {
    margin-bottom: 0;
}

.dex_details_group p:nth-child(2) {
    margin-top: 0;
    font-weight: bold;
}
