.register_button {
    margin: auto 5px 0 0;
    height: 30px;
}

.entry_display {
    margin: auto;
    color: black;
}

.dex_no {
    grid-area: dex_no;
    text-align: right;
    margin-right: 1rem;
    font-size: larger;
}

.dex_img {
    grid-area: dex_img;
    margin: auto;
    width: 150px;
}

.change_form {
    grid-area: change_form;
    width: 100%;
    text-align: right;
}

.change_form button {
    border: none;
    background-color:transparent;
    cursor: pointer;
    padding: .5rem;
    margin: .5rem;
}

.change_form img {
    height: 36px;
}

.dex_name {
    grid-area: dex_name;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    margin: 1rem;
}

.banner {
    padding-top: 30px;
    display: grid;
    border-radius: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        ". . dex_no"
        ". dex_img ."
        ". dex_name change_form";
}

.not_registered {
    filter: contrast(0%) brightness(50%)
}

.types {
    color: black;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.types p {
    border: 1px solid black;
    padding: .25rem;
}
