.register_button {
    margin: auto 5px 0 0;
    height: 30px;
}

.entry_display {
    margin: auto;
    color: black;
}

.banner {
    
    padding-top: 80px;
    display: grid;
    border-radius: 2rem;
}

.banner h2 {
    margin: 0;
}

.not_registered {
    filter: contrast(0%) brightness(50%)
}
