.entry_display {
    margin: auto;
    color: black;
    padding-top: 80px;
    height: 100%;
}

/* .top_bar {
    display: flex;
    justify-content: space-between;
    background-color: var(--pokedex-light-blue);
    padding: 1rem;
    width: 100%;
} */

.back {
    color: black;
    height: 30px;
}

.back img {
    height: 30px;
}

.not_registered {
    filter: contrast(0%) brightness(50%)
}
