.pokedex {
    height: calc(100vh - 70px);
    width: 100%;
}

.dex_previews {
    padding: calc(80px + 1rem) 1rem 0 1rem ;
    overflow-y: scroll;
    /* width: calc(100vw - 2rem); */
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

@media only screen and (min-width: 430px) {
    .dex_previews {
        /* grid-template-columns: 1fr 1fr 1fr; */
    }
}

@media only screen and (min-width: 790px) {
    .dex_previews {
        /* TODO: probably not 5 column */
        /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    }
}
