.dex_previews {
    width: 100%;
    background-color: var(--pokedex-background);
    padding: 1rem 1rem calc(80px + 1rem) 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

@media only screen and (min-width: 430px) {

}

@media only screen and (min-width: 790px) {
}
