.load {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: var(--pokedex-red);
    position: relative;
}

.welcome {
    margin: auto;
    text-align: center;
    width: 50%;
    max-width: 425px;
    min-width: 275px;
}

.welcome div {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.react_logo {
    width: 60%;
    margin: 4rem auto;
}

.font_image {
    margin-bottom: .5rem;
}

.welcome p {
    font-size: large;
    font-weight: bolder;
    text-align: center;
    color: white;
    margin: 0;
}

.dex_triangle {
    width: 60px;
    margin-right: 1rem;
    position: absolute;
    right: 1px;
    top: 50%;
    display: none;
}

@media only screen and (min-width: 285px) {
    .dex_triangle {
        display: flex;
    }
}
