.profile {
    display: flex;
    height: calc(100vh - 68px);
    width: 100%;
}

.placeholder {
    margin: auto;
    color: black;
    background-color: aqua;
    width: 100px;
    margin-top: 80px;
}