.load {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: var(--pokedex-red);
}

.welcome {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 50%;
    max-width: 450px;
    min-width: 275px;
}

.welcome p {
    font-size: large;
    font-weight: bolder;
}