.load {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: var(--pokedex-red);
}

.welcome {
    display: grid;
    margin: auto;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        '. centerDecal dex_triangle'
        '. instructions dex_triangle';
}

.welcome div {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 50%;
    max-width: 450px;
    min-width: 275px;
    grid-area: centerDecal;
}

.font_image {
    margin-bottom: .5rem;
}

.react_logo {
    width: 60%;
    margin: 4rem auto;
}

.welcome p {
    font-size: large;
    font-weight: bolder;
    grid-area: instructions;
    text-align: center;
    margin: 0;
}

.dex_triangle {
    width: 60px;
    margin: auto 1rem auto auto;
    grid-area: dex_triangle;
}