.nav {
    position: fixed;
    bottom: 0;
    height: 140px;
    width: 100%;
}

.nav_menu {
    border-top: solid black 2px;
    background-color: var(--pokedex-red);
    max-width: var(--max-mobile-width);
    height: 70px;
}

.nav_menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.nav_menu ul li {
    display: flex;
    width: 60px;
    height: 60px;
    margin: auto;
}

.nav_link {
    display: flex;
    width: 100%;
    height: 100%;
}

.nav_img {
    margin: auto;
    /* TODO: get this color on the svg */
    /* color: #28AAFD; */
}

.nav_img:active {
    filter: invert();
}

/* TODO: address the accessbility of the home home button on light blue */
.home_button {
    border: solid black 2px;
    background-color: var(--pokedex-light-blue);
    border-radius: 50%;
}

.home_button img {
    filter: invert();
}

.home_button img:active {
    filter: none;
}